body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.row {
    margin-top: 1rem;
}

table tr td img {
    height: 10px;
    width: 22px;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

/* greay out */

.product-img {
    opacity: 0.1;
    filter: alpha(opacity=10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 90%;
    max-width: 90%;
}

/* header centered at image */

.product-body h3 {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    font-size:2vw;
}

.product-row {
    height: 170px;
}

.product-link {
    max-height: 100%;
}

.product-body {
    max-height: 100%;
}